/**********************************************************************************************************************/
/*****************************************General styles*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

strong {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    font-size: 14px;
    line-height: 22px;
    height: 100%;
}

body.main {
    overflow-y: hidden;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
}

a {
    color: #000000;
    text-decoration: none;
}

.body {
    background: #fff;
    font-family: Tahoma regular;
    margin: 0 auto;
    overflow-x: hidden;
    width: 100%;
}

input, textarea {
    padding: 10px;
    background-color: #ffffff;
    width: 100%;
    margin: 7px 0 0 0;
    border: 1px solid #000000;
    font-size: 13px;
    color: #000000;
}

.wrapper {
    margin: 0 auto;
    display: block;
    width: 90%;
    max-width: 1366px;
}

a, a:hover, a:visited {
    color: #ffffff;
    text-decoration: none;
}

.float_left {
    float: left;
}

.transition {
    transition: 1.5s;
}

.display-none {
    display: none;
}

.display-block {
    display: block;
}

.display-inline-block {
    display: inline-block;
}

.bold {
    font-weight: 600;
}

.vertical-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

.button {
    font-size: 14px;
    display: inline-block;
    border: 1px solid #000000;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 10px 35px;
    cursor: pointer;
}

.button.button_white {
    background-color: #ffffff;
    color: #000000;
}

/*Popup styles*/
.fade {
    display: none;
    text-align: center;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    z-index: 1050;
    outline: 0;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.pop-up {
    display: block;
    font-family: Tahoma;
    background-color: #ffffff;
    padding: 35px 75px;
    max-width: 750px;
    max-height: 500px;
    margin: auto;
    position: relative;

    border: 1px solid #000000;
    border: 1px solid rgba(0, 0, 0, 1);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);

    background-clip: padding-box;
    outline: 0;
    font-size: 0;
}

.pop-up .pop-up__text {
    font-size: 14px;
}

/*Popup styles*/
/*Font Bebas*/
@font-face {
    font-family: 'Bebas';
    src: url('../fonts/bebasneue-webfont.eot');
    src: url('../fonts/bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/bebasneue-webfont.woff2') format('woff2'),
    url('../fonts/bebasneue-webfont.woff') format('woff'),
    url('../fonts/bebasneue-webfont.ttf') format('truetype'),
    url('../fonts/bebasneue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'Bebas bold';
    src: url('../fonts/bebasneue_bold-webfont.eot');
    src: url('../fonts/bebasneue_bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/bebasneue_bold-webfont.woff2') format('woff2'),
    url('../fonts/bebasneue_bold-webfont.woff') format('woff'),
    url('../fonts/bebasneue_bold-webfont.ttf') format('truetype'),
    url('../fonts/bebasneue_bold-webfont.svg#bebas_neuebold') format('svg');
    font-weight: 600;
    font-style: normal;

}

/****************************************General styles*/
/*******************************************************/
/***************************Styles for category buttons*/
.category-button {
    font-family: 'Bebas bold';
    text-transform: uppercase;
    margin: 0 23px 0 0;
    cursor: pointer;
    font-weight: 600;
    display: inline-block;
}

.category-button:after {
    display: block;
    content: "";
    height: 3px;
    width: 0%;
    background-color: #ffffff;
    transition: width .3s ease-in-out;
    margin-top: 3px;
}

.category-button:hover:after {
    width: 100%;
}

/***************************Styles for category buttons*/
/*******************************************************/
/*****************************************header styles*/
.header {
    font-family: Tahoma regular;
    background-color: #000000;
    text-align: center;
    width: 100%;
    padding: 1px 0;

    position: absolute;
    top: 0;
    left: 0;
}

.header .header__item {
    display: inline-block;
    text-align: center;
    width: 33%;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    text-transform: none;
}

.header .header__item:after {
    display: block;
    margin: 0 auto;
    content: "";
    height: 1px;
    max-width: 260px;
    width: 0;
    background-color: #ffffff;
    transition: width .7s ease-in-out;
}

.header .header__item.header__item_second:after {
    max-width: 249px;
}

.header .header__item.header__item_third:after {
    max-width: 188px;
}

.header .header__item.header__item_first:hover:after,
.header .header__item.header__item_second:hover:after,
.header .header__item.header__item_third:hover:after {
    width: 100%;
}

/*****************************************header styles*/
/*******************************************************/
.head-block {
    padding: 26px 0 0 0;
    text-align: left;
}

.registration .head-block,
.password .head-block,
.contacts .head-block,
.payment-shipping .head-block,
.support .head-block,
.offer .head-block,
.user-cabinet .head-block,
.cart-page .head-block,
.about .head-block {
    margin: 0 0 100px 0;
}

.item-page .head-block {
    margin: 0 0 36px 0;
}

.head-block .head-block__links {
    display: inline-block;
    padding: 20px;
}

.head-block .head-block__link-item {
    display: inline-block;
    color: #000000;
    margin: 0 25px;
    font-size: 14px;
    font-weight: 600;
}

.head-block .head-block__category {
    display: block;
    margin: -35px auto 0;
    text-align: center;
    max-width: 630px;
}

.head-block .head-block__logo {
    display: block;
    margin: 0 auto 17px;
    max-width: 70px;
}

.head-block .head-block__main-sections {
    margin: 0 0 16px 0;
    text-align: center;
}

.head-block .head-block__button {
    font-size: 30px;
    margin: 0 11.5px;
    color: #000000;
}

.head-block .head-block__button.category-button:after {
    background-color: #000000;
}

.head-block .head-block__sub-sections {

}

.head-block .head-block__filter-wrap {
    margin: 20px 0 0 0;
}

.head-block .head-block__filter-button {
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: 1s;
    margin: 0 15px;
}

.head-block__filter-button:after {
    display: block;
    content: "";
    height: 2px;
    width: 0;
    background-color: #000000;
    transition: width .3s ease-in-out;
}

.head-block__filter-button:hover:after {
    width: 100%;
}

.head-block .head-block__user {
    position: absolute;
    max-width: 310px;
    top: 50px;
    right: 40px;
}

.head-block .head-block__user a {
    color: #000000;
}

.head-block .head-block__user-item {
    margin: 0 0 0 25px;
    font-weight: 600;
    font-size: 14px;
}

.head-block .head-block__cart-counter {
    display: none;
    font-weight: 600;
}

.head-block .head-block__cart-counter_visible {
    display: inline-block;
}

.head-block .head-block__user-item.head-block__user-item_registered-user {
    display: none;
}

/*Mobile elements*/
.head-block .head-block__icon {
    width: 31px;
    height: 40px;
    margin: 0 10px;
    display: none;
}

.head-block .head-block__icon.head-block__icon_user {
    background: url("../images/account.png") no-repeat center center;
    background-size: cover;
}

.head-block .head-block__icon.head-block__icon_cart {
    background: url("../images/cart.png") no-repeat center center;
    background-size: cover;
}

.head-block .head-block__filter-block {
    display: none;
}

.head-block .head-block__filter-activator {
    width: 95%;
    background-color: #000000;
    color: #ffffff;
    padding: 10px 0;
    cursor: pointer;
    margin: 19px auto 0;
    letter-spacing: 0.5px;
    display: none;
}

/* page container */
#wrap {
    display: block;
    width: 95%;
    margin: 0 auto;
}

/* user menu settings */
#dropdown {
    text-align: center;
    display: block;
    width: 95%;
    margin: 0 auto;
    position: relative;
    cursor: pointer;
    background: #000000;
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    -ms-transition: all 0.15s linear;
    -o-transition: all 0.15s linear;
    transition: all 0.15s linear;
}

#dropdown ul {
    position: static;
    top: 100%;
    left: -0px;
    width: 100%;
    padding: 5px 0px;
    display: none;
    background: #ffffff;
}

#dropdown ul li a:hover {
    color: #6fa0e9;
    background: #e7f0f7;
}

/************************************burger menu markup*/

.b-a, .bar, .bar:before, .bar:after {
    transition: all .25s;
    content: "";
    position: absolute;
    left: 0;
    height: 3px;
    width: 26px;
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0.95);
}

.menu-collapsed {
    display: none;
    transition: all .25s;
    position: absolute;
    top: 45px;
    left: 25px;
    height: 40px;
    width: 40px;
    z-index: 1;
    cursor: pointer;
    background-color: #000000;
}

.menu-collapsed .menu__block {
    transition: all 0s;
    position: absolute;
    left: -9000px;
    text-align: left;
}

.menu__close-btn {
    background: url("../images/close-btn.svg") no-repeat center center;
    background-size: cover;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 25px;
    top: 25px;
    display: none;
    z-index: 999;
}

.bar {
    position: absolute;
    left: 8px;
    top: 20px;
    z-index: 1000;
}

.bar:before {
    top: -8px;
    z-index: 1000;
}

.bar:after {
    top: 8px;
    z-index: 1000;
}

.b-a-expanded, .menu-expanded .bar:before, .menu-expanded .bar:after {
    transition: all .25s;
    top: -0px;
    z-index: 1000;
}

.menu-expanded {
    transition: all .25s;

    position: fixed;
    text-align: center;
    line-height: 20px;
    height: 100%;
    width: 100%;
    border-radius: 0;
    top: 0;
    left: 0;
    background-color: #ffffff;
}

.menu-expanded .menu__block {
    transition: all 0s;
    position: relative;
    left: 0;
    z-index: 2;
    margin: 90px 0 0 0;
}

.menu-expanded .menu__item {
    max-height: 70px;
    margin: 0 0 50px 0;
}

.menu-expanded a {
    transition: all .15s;
    text-decoration: none;
    font-size: 24px;
    padding: 0 0 0 30px;
    font-weight: 600;
    color: #000000;
    display: block;
}

.menu-expanded .bar {
    background-color: transparent;
    transition: all .25s;
    right: 0;
}

.menu-expanded .bar.bar_active {
    left: 90%;
    top: 35px;
}

.menu-expanded .bar:before {
    transform: rotate(45deg);
    background-color: black;
}

.menu-expanded .bar:after {
    transform: rotate(-45deg);
    background-color: black;
}

.row {
    padding-top: 150px;
}

/************************************burger menu markup*/
/*************************************head block markup*/
/*******************************************************/
/*****************************************Footer styles*/
.footer {
    font-family: 'Bebas bold';
    text-transform: uppercase;
    position: relative;
    z-index: 99;
    width: 100%;
    display: inline-block;
    bottom: initial;
    right: initial;
    text-align: right;
    padding: 0 25px 20px 0;
}

.main .footer,
.password .footer,
.registration .footer {
    position: absolute;
    bottom: 30px;
    right: 30px;
    padding: 0;
}

.item-page .footer {

    text-align: initial;
}

.item-page .footer__container {
    float: right;
    padding: 0 25px 0 0;
}

.footer .footer__item {
    margin: 0 10px;
    font-size: 22px;
    letter-spacing: 1px;
}

.footer .footer__item.footer__item_black {
    color: #000000;
}

/*****************************************Footer styles*/
/*******************************************************/
/*************************************Main block styles*/
.main-page {
    overflow-y: hidden;
}

.video-bg {
    max-height: 100%;
}

.main-block {
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
}

.main-block .main-block__buttons-block {
    max-width: 600px;
    position: absolute;
    top: 43%;
    left: 20%;
}

.main-block .main-block__logo {
    display: inline-block;
    margin: 0 28px 0 0;
}

.main-block .main-block__button {
    font-size: 30px;
    vertical-align: super;
}

/*************************************Main block styles*/
/*******************************************************/
/*****************************************Media queries*/
@media (max-width: 1152px) {
    .head-block .head-block__category {
        margin: 1px auto 0;
    }

    .head-block .head-block__link-item {
        margin: 0 15px;
    }
}

@media (max-width: 960px) {
    .header .header__item {
        font-size: 14px;
        letter-spacing: 0.5px;
    }

    .registration .head-block,
    .password .head-block,
    .contacts .head-block,
    .payment-shipping .head-block,
    .support .head-block,
    .offer .head-block,
    .user-cabinet .head-block,
    .cart-page .head-block {
        margin: 0 0 50px 0;
    }
}

@media (max-width: 768px) {
    .head-block .head-block__links {
        padding: 20px 10px;
    }

    .head-block .head-block__link-item {
        margin: 0 5px;
    }

    .head-block .head-block__user {

        right: 22px;
    }

    .head-block .head-block__user-item {
        margin: 0 0 0 10px;
    }
}

@media (max-width: 670px) {
    /******************************************************************************************************************/
    .header .header__item:after,
    .head-block .head-block__sub-sections,
    .head-block .head-block__links,
    .head-block__user-item,
    .head-block__cart-counter,
    .footer {
        display: none;
    }

    /******************************************************************************************************************/
    /*mobile styles for main block begin*/
    .main-block .main-block__buttons-block {
        max-width: 600px;
        position: absolute;
        top: 43%;
        left: 10%;
    }

    .main-block .main-block__logo {
        display: block;
        margin: 0 0 40px;
    }

    /*mobile styles for head block end*/
    /******************************************************************************************************************/
    /*mobile styles for head block begin*/
    .header .header__item {
        font-size: 12px;
        letter-spacing: 0;
    }

    .head-block .head-block__category {
        padding: 25px 0 0 0;
    }

    .head-block .head-block__logo {
        margin: 0 auto 24px;
        max-width: 100px;
    }

    .head-block .head-block__button {
        font-size: 40px;
    }

    .head-block .head-block__icon {
        display: inline-block;
    }

    .head-block .head-block__user {
        top: 49px;
        right: 10px;
    }

    .man-clothing .head-block__button_man:after,
    .woman-clothing .head-block__button_woman:after {
        margin-top: 5px;
    }

    .head-block .head-block__filter-block {
        display: block;

    }

    .head-block .head-block__filter-button {
        display: block;
        cursor: pointer;
        font-size: 19px;
        font-weight: 600;
        transition: 1s;
        margin: 10px auto;
        max-width: 82px;
    }

    .menu-collapsed {
        display: block;
    }

    .head-block .head-block__filter-activator {
        display: block;
    }

    .head-block .head-block__main-sections {
        margin: 0 0 12px 0;
    }

    /*mobile styles for head block end*/
    /******************************************************************************************************************/
}

@media (max-width: 540px) {
    .pop-up {
        padding: 35px 10px;
    }
}

@media (max-width: 440px) {
    .menu-expanded .bar.bar_active {
        left: 85%;
    }

    .bar {
        left: 8px;
        top: 20px;
    }

    .b-a, .bar, .bar:before, .bar:after {
        height: 3px;
        width: 26px;
    }

    .head-block .head-block__logo {
        max-width: 80px;
    }
}

@media (max-width: 360px) {
    .head-block .head-block__icon {
        width: 23px;
        height: 30px;
    }

}

/*****************************************Media queries*/
/**********************************************************************************************************************/