/*******************************************************/
/****************************************general styles*/
.user-cabinet {

}

.user-cabinet .display-inline-block {
    display: inline-block !important;
}

.cell-10 {
    width: 10%;
}

.cell-15 {
    width: 15%;
}

.cell-25 {
    width: 25%;
}

.cell-45 {
    width: 45%;
}

/****************************************general styles*/
/*******************************************************/
/********************************user info block styles*/
.block-container {
    display: none;
    width: 80%;
    text-align: left;
}

.block-container .block-container__item {
    display: inline-block;
    margin: 0 50px 50px 0;
    width: 30%;
    vertical-align: top;
}

.block-container .block-container__name {
    font-size: 14px;
    font-weight: 600;
    margin: 0 0 25px 0;
}

.block-container .block-container__wrap {
    margin: 0 0 20px 0;
}

.block-container .block-container__text {
    font-size: 14px;
}

.block-container .block-container__head {
    font-size: 14px;
    font-weight: 600;
}

.block-container .block-container__button {
    display: inline-block;
    border: 1px solid #000000;
    text-align: center;
    padding: 10px 35px;
    margin: 0 0 35px 0;
    cursor: pointer;
    background-color: black;
    color: #ffffff;
}

.block-container .block-container__checkbox-block {

}

.block-container .block-container__checkbox-block p {
    display: inline-block;
    vertical-align: middle;
}

.block-container .block-container__checkbox {
    width: 15px;
    height: 15px;
    border: 2px solid #000000;
    cursor: pointer;
}

/********************************user info block styles*/
/*******************************************************/
/*****************************registration block markup*/
.offer-block {
    display: inline-block;
    width: 50%;
    text-align: left;
}

.offer-block .offer-block__switch {
    display: block;
    margin: 0 100px 0 0;
    padding: 25px 0 0 0;
}

.offer-block .offer-block__switch-item {
    font-size: 14px;
    color: #000000;
    font-weight: 600;
    cursor: pointer;
}

.offer-block .offer-block__switch-item_active {
    color: #969696;
}

.offer-block__header {
    font-size: 25px;
    font-weight: 600;
    margin: 0 0 30px 0;
}

/*************************************Input-block begin*/
.user-cabinet .offer-block__input-block {
    display: inline-block;
    width: 30%
}

.user-cabinet .offer-block__input-block.offer-block__input-block_edit {
    display: none;
}

.user-cabinet .offer-block__form {
    max-width: 400px;
    margin: 0 auto;
}

.user-cabinet .offer-block__input {
    margin: 0 auto 30px;
}

.user-cabinet .offer-block__input_shipping {

}

.user-cabinet .offer-block__input_address {
}

.user-cabinet .offer-block__label {
    font-size: 12px;
    font-weight: 600;
    margin: 0 0 15px 0;
}

.user-cabinet .offer-block__label_checkbox {
    display: inline-block;
}

.user-cabinet .offer-block__place {
    width: 100%;
    margin: 7px 0 0 0;
    border: 1px solid #000000;
}

.user-cabinet .offer-block__place_checkbox {
    width: 15px;
    height: 15px;
    border: 2px solid #000;
    display: inline-block;
}

.user-cabinet .offer-block__button {
    display: block;
    background: #000000;
    color: #ffffff;
    padding: 12px 35px;
    margin: 0 0 18px 0;
    border-style: none;
    position: absolute;
    bottom: -100px;
    right: 60px;
    cursor: pointer;
}

/***************************************Input-block end*/
/*******************************************************/
/**************************************Ware-block begin*/
.offer-block .offer-block__wares {
    width: 80%;
    display: none;
}

.offer-block .offer-block__top-wrap {
    width: 100%;
    margin: 0 0 35px 0;
}

.offer-block .offer-block__item-name {
    display: inline-block;
    font-weight: 600;
}

.offer-block .offer-block__ware-item {
    min-height: 175px;
    margin: 0 0 70px 0;
}

.offer-block .offer-block__ware-image {
    max-width: 150px;
}

.offer-block .offer-block__ware-info {
    display: inline-block;
    padding: 10px 0 0 15px;
}

.offer-block .offer-block__text {

}

.offer-block .offer-block__text.offer-block__text_gray {
    color: #969696;
}

.offer-block .offer-block__number {
    display: inline-block;
    vertical-align: top;
}

.offer-block .offer-block__total {
    display: inline-block;
    vertical-align: top;
}

/****************************************Ware-block end*/
/*******************************************************/
/**************************************Cell-block begin*/
.cell {
    position: relative;
    border-top: 1px solid #000000;
    padding: 10px 5px 30px;
    min-height: 105px;
}

.cell.cell_xl {
    min-height: 160px;
}

.cell .cell__text-wrapper {
    margin: 0 0 20px 0;
}

.cell .cell__text {
    font-size: 14px;
    font-weight: 600;
}

.cell .cell__text.cell__text_name {
    margin: 0 0 20px 0;
}

.cell .cell__text.cell__text_side-text {
    position: absolute;
    width: 99%;
    top: 10px;
    text-align: right;
}

.cell .cell__text.cell__text_add-text {
    position: absolute;
    width: 99%;
    top: 30px;
    text-align: right;
}

.cell .cell__user-info {

}

.cell .cell__select {
    padding: 5px 10px;
    min-width: 250px;
    font-weight: 600;
    border: 1px solid #000000;
    margin: 0 0 30px 0;
}

.cell .cell__select-item {

}

.cell .cell__buttons-wrap {
    position: absolute;
    width: 99%;
    top: 115px;
    text-align: left;
}

.cell .cell-button {
    display: inline-block;
    border: 1px solid #000000;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 10px 35px;
    cursor: pointer;
}

/****************************************Cell-block end*/
/*******************************************************/
/*****************************registration block markup*/
/*******************************************************/
/*****************************************pop-up styles*/
.user-cabinet .pop-up {
    max-width: 25%;
    text-align: center;
    font-size: 0;
}

.pop-up .pop-up__text {
    font-size: 14px;
    margin: 0 0 15px 0;
    font-weight: 600;
}

.pop-up .pop-up__button-wrap {
    width: 100%;
}

.pop-up .pop-up__button {
    width: 32%;
}

/*****************************************pop-up styles*/
/*******************************************************/