/**********************************************************************************************************************/
.item-page {

}

.item-page .ware-block {
    display: block;
    margin: 0 auto 100px;
    width: 100%;
    padding: 0;
}

.item-page .absolute-top {
    position: fixed !important;
    top: 50px !important;
}

.item-page .pop-up .pop-up__text {
    margin: 0 0 20px 0;
}

.overlay {
    display: none;
    width: 100%;
    height: 100%;
    z-index: 99999;
    position: fixed;
    background-color: #ffffff;
    top: 0;
    left: 0;
    padding: 65px 0 0 0;
}

.block {
    display: block;
}

.item-page .ware-block .ware-block__name,
.item-page .ware-block .ware-block__size,
.item-page .ware-block .ware-block__description {
    padding: 0 0 0 5px;
}

/****************************************Image container styles*/
.item-page .ware-block .ware-block__image-container {
    float: left;
    display: inline-block;
    width: 75%;
    font-size: 0;
}

.item-page .ware-block .ware-block__image-block {
    display: inline-block;
    width: 50%;
    margin: 0;
}

.item-page .ware-block .ware-block__image {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}

/****************************************Image container styles*/
/**********************************************************************************************************************/
/**********************************************Item info styles*/
.item-page .ware-block .ware-block__info-container {
    height: 100%;
    position: relative;
    display: inline-block;
    width: 25%;
    padding: 0 0 0 30px;
}

.item-page .ware-block .ware-block__info-block {
    position: absolute;
    top: 50px;
}

.item-page .ware-block .ware-block__info {

}

.item-page .ware-block .ware-block__name {
    margin: 0 0 25px 0;
    font-weight: 400;
}

.item-page .ware-block .ware-block__name-text {
    font-size: 26px;
    margin: 0 0 7px 0;
}

.item-page .ware-block .ware-block__price {
    font-size: 20px;
}

.item-page .ware-block .ware-block__size {

}

.item-page .ware-block .ware-block__size-text {
    font-size: 20px;
    margin: 0 0 7px 0;
}

.item-page .ware-block .ware-block__size-text.ware-block__size-text_alert {
    color: #ff0000;
}

.item-page .ware-block .ware-block__size-item {
    font-weight: 400;
    display: inline-block;
    font-size: 26px;
    margin: 0 20px 0 0;
    cursor: pointer;
}

.item-page .ware-block .ware-block__button {
    padding: 13px 0;
    text-align: center;
    color: #ffffff;
    background-color: #000000;
    font-size: 15px;
    width: 100%;
    max-width: 400px;
    display: block;
    margin: 30px 0;
    cursor: pointer;
}

.item-page .ware-block .ware-block__description {
    text-transform: none;
    font-size: 20px;
}

.item-page .ware-block .ware-block__size-popup {
    text-decoration: underline;
    cursor: pointer;
    margin: 0 0 30px 0;
    font-size: 16px;
}

.item-page .ware-block .ware-block__description-text {
    margin: 0 0 20px 0;
    font-size: 16px;
    font-style: italic;
}

/**********************************************Item info styles*/

/**************************************************Popup styles*/
.size-popup {
    width: 100%;
    max-width: 900px;
    text-align: center;
    display: block;
    margin: 0 auto;
}

.size-popup .size-popup__wrap {
    width: 100%;
    overflow-y: auto;
    margin: 0 auto 35px;
}

.size-popup img {
    display: inline-block;
}

.size-popup .size-popup__header {
    display: block;
    margin: 0 auto 58px;
    color: #000000;
    font-size: 16px;
}

.size-popup .size-popup__size-image {
    min-width: 500px;
}

.size-popup .size-popup__ware-image {
    max-width: 290px;
}

.close-btn {
    cursor: pointer;
    position: absolute;
    top: 35px;
    right: 35px;
    background: url("../images/close-btn.svg") no-repeat center center;
    width: 15px;
    height: 15px;
}

/**************************************************Popup styles*/
/***************************************************************/
/*************************************************Media queries*/
/*width*/
@media (max-width: 1420px) {
    .item-page .ware-block .ware-block__description {
        font-size: 16px;
        font-weight: 600;
    }
}

@media (max-width: 1340px) {
    .item-page .ware-block .ware-block__size-item {
        font-size: 24px;
        margin: 5px 5px 0 0;
    }
}

@media (max-width: 1024px) {
    .item-page .ware-block .ware-block__image-container {
        width: 60%;
    }

    .item-page .ware-block .ware-block__info-container {
        width: 39%;
    }

    .item-page .ware-block .ware-block__info-block {
        top: 20px;
    }

    .absolute-top {
        position: static;
        top: inherit;
    }
}

@media (max-width: 810px) {
    .item-page .ware-block .ware-block__description {
        text-transform: none;
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .item-page .ware-block .ware-block__image-container {
        float: none;
        display: block;
        width: 100%;
        margin: 0 0 20px 0;
    }

    .item-page .ware-block .ware-block__image-block {
        display: block;
        width: 100%;
    }

    .item-page .ware-block .ware-block__info-container {
        position: relative;
        display: block;
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }

    .item-page .ware-block .ware-block__info-block {
        position: static;
        top: inherit;
    }

    .item-page .ware-block .ware-block__info {
        text-align: center;
    }

    .item-page .ware-block .ware-block__description {
        text-transform: none;
        font-size: 20px;
        text-align: center;
    }

    .size-popup .size-popup__ware-image {
        display: none;
    }
}

@media (max-width: 440px) {
    .item-page .ware-block .ware-block__description-text {
        padding: 0 5px;
    }

    .item-page .ware-block .ware-block__description {
        font-weight: 600;
        font-size: 16px;
    }

    .item-page .button {
        padding: 10px 15px;
    }
}

@media (max-width: 340px) {
    .item-page .button {
        padding: 10px 10px;
    }
}

/*width*/
/*height*/
@media (max-height: 660px) {
    .item-page .ware-block .ware-block__description-text {
        margin: 0 0 10px 0;
    }

    .item-page .ware-block .ware-block__button {
        margin: 25px 0;
    }
}

/*height*/
/*height and width*/

/*height and width*/

/*************************************************Media queries*/
/**********************************************************************************************************************/